<h4 mat-dialog-title class="border-bottom p-2 text-center text-white bg-danger" *ngIf="!this.logoutTitle.mode">
    {{deleteDialogData['title']}}
</h4>
<div mat-dialog-content>
    <p><strong>{{deleteDialogData['message']}}</strong></p>
</div>

<textarea placeholder="Reason" style="width: 100%;" [(ngModel)]='editRequestReason' *ngIf="deleteDialogData['callingFrom'] === 'editReqAdmin'"></textarea>

<div mat-dialog-actions class="text-center">
    <button mat-raised-button color="warn" (click)="onYesClick(deleteDialogData)" class="mr-3">Yes</button>
    <button mat-raised-button color="primary" (click)="onNoClick()">No</button>
</div>