<div class="table-responsive">
    <table class="table table-bordered bg-white">
        <thead>
            <tr>
                <th scope="col" class="font-weight-bold">#</th>
                <th scope="col" class="font-weight-bold">Employee Id</th>
                <th scope="col" class="font-weight-bold">Employee Name</th>
                <th scope="col" class="font-weight-bold">Designation</th>
                <th scope="col" class="font-weight-bold">Role</th>
                <th scope="col" class="font-weight-bold">Mobile Number</th>
                <th scope="col" class="font-weight-bold" *ngIf="isDashboard">Clients</th>
                <th scope="col" class="font-weight-bold" *ngIf="isDashboard">Working Days</th>
                <th scope="col" class="font-weight-bold" *ngIf="!isDashboard">Timesheet</th>
                <th scope="col" class="font-weight-bold" *ngIf="!isDashboard">Actions</th>
                <th scope="col" class="font-weight-bold" *ngIf="!isDashboard">Status</th>
            </tr>
        </thead>
        <tbody *ngFor="let employee of employeeList; let i = index">
            <tr>
                <th scope="row">{{pagination.current_page ? (pagination.current_page - 1) * limit + i + 1 : i + 1}}</th>
                <td>
                    <a [routerLink]="['/timesheet-list', employee._id]">
                        {{employee.emp_id}}
                    </a>
                </td>
                <td>{{employee.name}}</td>
                <td>{{employee.designation?.name}}</td>
                <td class="text-uppercase">{{employee.role}}</td>
                <td>{{employee.phone_num}}</td>
                <td *ngIf="isDashboard">
                    <div class="request-details">
                        <div *ngFor="let client of employee.assigned_client; let i = index" >
                            {{i+1}}. {{client.company_name}}
                        </div>
                    </div>
                </td>
                <td *ngIf="isDashboard">{{employee.day_present}}</td>
                <td *ngIf="!isDashboard">
                    <a [routerLink]="['/timesheet-list', employee._id]">
                        View
                    </a>
                </td>
                <td *ngIf="!isDashboard">
                    <button mat-raised-button color="primary" (click)="updateEmployeeDialog(employee)">
                        <mat-icon>edit</mat-icon>
                        Edit
                    </button>
                </td>
                <td *ngIf="!isDashboard">
                    <mat-slide-toggle></mat-slide-toggle>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-pagination [pagination]="pagination" [limit]="limit" (paramsEvent)="onPaginationChange($event)"></app-pagination>