<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="px-3 w-100 d-flex justify-content-between">
        <div class="navbar-wrapper">
            <h1 class="h3 m-0">{{getTitle()}}</h1>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">            
            <div class="d-flex align-items-center">
                <span class="fw-bold">Welcome! {{isAdmin ? userName + ' (Admin)' : userName}}
                </span>
                <button mat-button [matMenuTriggerFor]="menu" class="profile-icon ml-2">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </button>
            </div>
            <mat-menu #menu="matMenu">
                <a class="nav-link" [routerLink]="['/profile']" mat-menu-item>Profile</a>
                <a class="nav-link" [routerLink]="['/change-password']" mat-menu-item>Change Password</a>
                <a class="nav-link" mat-menu-item (click)="profileLogout()">Logout</a>
            </mat-menu>
        </div>
    </div>
</nav>