<div class="pagination" *ngIf="pagination">
    <div class="limits d-flex align-items-center">
        <p class="mb-0 mr-2">Rows per page:</p>
        <select (change)="selectLimit($event)">
            <option *ngFor="let val of limits" class="text-center" value="{{val}}" [selected]="val === limit">
                {{val}}
            </option>
        </select>
    </div>
    <div>
        <a href="javascript:void(0)" (click)="onPaginationChange(pagination.current_page - 1)" *ngIf="pagination.current_page > 1">&laquo;</a>
        <a href="javascript:void(0)" (click)="onPaginationChange(i+1)"
            *ngFor="let item of [].constructor(pagination.total_page); let i = index"
            [ngClass]="{'w3-red active-page': i+1 === pagination.current_page}"
        >
            {{i+1}}
        </a>
        <a href="javascript:void(0)" (click)="onPaginationChange(pagination.current_page + 1)" *ngIf="pagination.current_page < pagination.total_page">&raquo;</a>
    </div>
</div>