.flex {
    display: flex;
}

.limits {
    padding-right: 1.3rem;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 8px 0;
}
  
.pagination a {
    color: black;
    float: left;
    padding: 0.3rem 0.8rem;
    text-decoration: none;
    border-radius: 5px;
}
.pagination a:not(:last-child){
    margin-right: 0.5rem;
}
.pagination a:hover{
    background-color: #dedede;
}
.w3-red {
    color: #fff!important;
    background-color: #f44336!important;
}
.active-page {
    border-radius: 5px;
    font-weight: 600;
}