
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div>
        <div class="card rounded-0 text-center">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Change Password</h4>
          </div>
          <div class="card-body">

            <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
              <div class="field-container form-group">
                <mat-form-field appearance="legacy">
                  <input matInput type="password" class="form-control rounded-0" formControlName="currentPassword"
                    placeholder="Current Password">
                </mat-form-field>
                <div class="text-danger text-left" *ngIf="pcForm.currentPassword.touched && !pcForm.currentPassword.valid">
                  Password field cannot be left blank.
                </div>
                <mat-form-field appearance="legacy">
                  <input matInput type="password" class="form-control rounded-0" formControlName="newPassword"
                    placeholder="New Password">
                </mat-form-field>
                <div class="text-danger text-left" *ngIf="!pcForm.newPassword.valid && pcForm.newPassword.touched">
                  Password must contain more than 8 characters, 1 upper case letter, and 1
                  special character
                </div>
              </div>
              <div class="">
                <mat-form-field appearance="legacy">
                  <input matInput type="password" class="form-control rounded-0" formControlName="confirm_password"
                    placeholder="Confirm Password">
                </mat-form-field>
                <span class="text-danger text-left" *ngIf="pcForm.confirm_password.value !== pcForm.newPassword.value">Password must
                  match.</span>
                <span class="text-danger text-left"
                  *ngIf="pcForm.confirm_password.touched && !pcForm.confirm_password.valid">Password Password must contain more than 8 characters, 1 upper case letter, and 1
                  special character</span>
              </div>

              <button type="submit" class="btn btn-primary" color="primary" mat-button [disabled]="!passwordChangeForm.valid">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>