<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div>
        <div class="card rounded-0 text-center">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Change Password</h4>
          </div>

          <div class="card-body">
            <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
              <div class="field-container form-group">
                <mat-form-field appearance="legacy">
                  <div class="d-flex justify-content-between">
                  <input matInput [type]=curPasswordType class="form-control rounded-0" formControlName="currentPassword"
                    placeholder="Current Password">
                    <div>
                      <mat-icon *ngIf="isCurPassword" (click)="visibilityOnOff('curpass')">visibility_off</mat-icon>
                      <mat-icon *ngIf="!isCurPassword" (click)="visibilityOnOff('curpass')">remove_red_eye</mat-icon>
                    </div>
                    </div>
                </mat-form-field>
                <div class="text-danger text-left"
                  *ngIf="pcForm.currentPassword.touched && !pcForm.currentPassword.valid">
                  Password field cannot be left blank.
                </div>
                <div>
                  <mat-form-field appearance="legacy">
                    <div class="d-flex justify-content-between">
                    <input matInput [type]=newPasswordType class="form-control rounded-0" formControlName="newPassword"
                      placeholder="New Password">
                      <div>
                        <mat-icon *ngIf="isNewPassword" (click)="visibilityOnOff('newpass')">visibility_off</mat-icon>
                        <mat-icon *ngIf="!isNewPassword" (click)="visibilityOnOff('newpass')">remove_red_eye</mat-icon>
                      </div>
                      </div>
                  </mat-form-field>
                  <div class="text-danger text-left" *ngIf="!pcForm.newPassword.valid && pcForm.newPassword.touched">
                    Password must contain more than 8 characters, 1 upper case letter, and 1
                    special character
                  </div>
                </div>
                <div>
                  <mat-form-field appearance="legacy">
                    <div class="d-flex justify-content-between">
                      <input matInput [type]=cnfPasswordType class="form-control rounded-0"
                        formControlName="confirm_password" placeholder="Confirm Password">
                      <div>
                        <mat-icon *ngIf="isCnfPassword" (click)="visibilityOnOff('cnfpass')">visibility_off</mat-icon>
                        <mat-icon *ngIf="!isCnfPassword" (click)="visibilityOnOff('cnfpass')">remove_red_eye</mat-icon>
                      </div>
                    </div>
                  </mat-form-field>
                  <span class="text-danger text-left"
                    *ngIf="pcForm.confirm_password.value !== pcForm.newPassword.value">Password must match.</span>
                  <div class="text-danger text-left"
                    *ngIf="pcForm.confirm_password.touched && !pcForm.confirm_password.valid">Password must contain more
                    than 8 characters, 1 upper case letter, and 1 special character</div>
                </div>
              </div>
              <button type="submit" mat-raised-button color="primary" mat-button
                [disabled]="!passwordChangeForm.valid">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>