
<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top border-bottom" style="height: 100px;">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a routerLink="/">
        <img src="../../../assets/img/wis_logo.png" style="width: 200px;" />
      </a>
    </div>
  </div>
</nav>
  
<div class="container" >
  <div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0 text-center">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Set New Password</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="resetPass" (ngSubmit)="resetPassword()">  
              <div class="field-container">
                  <mat-form-field>
                    <input matInput type="password" class="rounded-0" formControlName="password"
                      placeholder="Password">
                  </mat-form-field>
                  <!-- <div class="text-danger" *ngIf="lForm.password.touched && !lForm.password.valid">
                    Password field cannot be left blank.
                  </div> -->
                  <div *ngIf="lForm.password.touched && lForm.password.invalid" class="text-danger">
                    <div *ngIf="lForm.password.errors.required">Password is required.</div>
                </div>
              </div> 
              <div class="field-container">
                  <mat-form-field>
                    <input matInput type="password" class="rounded-0" formControlName="conPassword"
                      placeholder="Confirm Password">
                  </mat-form-field>
                  <div class="text-danger" *ngIf="lForm.conPassword.touched && !lForm.conPassword.valid">
                    Confirm Password is required.
                  </div>
              </div>             
              
              <button type="submit" mat-raised-button color="accent" class="h5 w-100" [disabled]="!resetPass.valid">
                Submit
              </button>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>