.form-control:invalid {
    background-image: none !important;
}

.form-control:focus {
    border: none !important;
    box-shadow: none !important;
}

.btn.btn-danger {
    width: 100%;
}

.fields-main-div {
    display: flex;
    flex-wrap: wrap;
}

form .field-container {
    flex: 1 0 31%;
    margin: 8px;
    height: 100px;
}

#designation-wrapper {
    margin-top: 11px;
}

a.close {
    background: none;
    opacity: 1;
    color: #fff;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}

::ng-deep .cdk-overlay-container {
    z-index: 10001;
}

::ng-deep .cdk-overlay-pane.update-employee-dialog,
::ng-deep .cdk-overlay-pane.add-new-employee-dialog,
::ng-deep .cdk-overlay-pane.add-new-admin-dialog,
::ng-deep .cdk-overlay-pane.update-admin-dialog {
    height: 520px !important;
}