.container {
    margin-top: 100px;
}

.form-control:focus {
    border: none !important;
    box-shadow: none !important;
}

.form-control:invalid {
    background-image: none !important;
}

.btn.btn-danger {
    width: 100%;
}

#spinner-div {
    display: flex;
    justify-content: center;
    margin-top: 30vh;
}
