<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top border-bottom" style="height: 100px;">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a href="javascript:void(0)">
        <img src="../../../assets/img/wis_logo.png" style="width: 200px;" />
      </a>
    </div>
  </div>
</nav>

<div id="spinner-div" fxLayout="row" fxLayoutAlign="space-around center" style="height:100%" *ngIf="isLoading">
  <mat-spinner mode="indeterminate" diameter="50" strokeWidth="5" color="warn"></mat-spinner>
</div>
<div class="container" *ngIf="!isLoading">
  <div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0 text-center">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Employee Login</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="doLogin(loginForm)">

              <div class="field-container">
                <mat-form-field>
                  <input matInput type="email" class="form-control rounded-0" formControlName="email_id"
                    placeholder="Email ID">
                </mat-form-field>
                <div class="text-danger" *ngIf="form.email_id.touched && !form.password.valid">
                  Email ID cannot be left blank. 
                </div>
              </div>

              <div class="field-container">
                <mat-form-field>
                  <input matInput type="password" class="form-control rounded-0" formControlName="password"
                    placeholder="Password">
                </mat-form-field>
                <div class="text-danger" *ngIf="form.password.touched && !form.password.valid">
                  Password field cannot be left blank. 
                </div>
              </div>
              <div class="text-left mb-3">
                <a [routerLink]="['/forgot-password']" class="forgot-password">Forgot Password?</a>
              </div>

              <button type="submit" mat-raised-button color="primary" class="h5 w-100" [disabled]="!loginForm.valid">
                Login
              </button>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>