<div class="container">
    <div class="page-operations mb-2">
        <div class="form-inline m-0"></div>
        <button id="add-more-btn" mat-mini-fab color="primary" (click)="addClientDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered bg-white">
            <thead>
                <tr>
                    <th scope="col" class="font-weight-bold">#</th>
                    <th scope="col" class="font-weight-bold">Client Name</th>
                    <th scope="col" class="font-weight-bold">Company Name</th>
                    <th scope="col" class="font-weight-bold">Company Email</th>
                    <th scope="col" class="font-weight-bold">Mobile Number</th>
                    <th scope="col" class="font-weight-bold">Person Name</th>
                    <th scope="col" class="font-weight-bold">Actions</th>
                </tr>
            </thead>
            <tbody *ngFor="let client of clientList; let i = index">
                <tr>
                    <th scope="row">{{pagination.current_page ? (pagination.current_page - 1) * limit + i + 1 : i + 1}}</th>
                    <td>
                        <a>
                            {{client.client_name}}
                        </a>
                    </td>
                    <td>{{client.company_name}}</td>
                    <td>{{client.company_email}}</td>
                    <td>{{client.mobile_number}}</td>
                    <td>{{client.person_name}}</td>
                    <td>
                        <button class="mr-2" mat-raised-button color="primary" (click)="updateClientDialog(client)">
                            <mat-icon>edit</mat-icon>
                            Edit
                        </button>
                        <button mat-raised-button color="warn" (click)="deleteClientDialog(client._id)">
                            <mat-icon>delete</mat-icon>
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center" *ngIf="!clientList && !isLoading">
            <h2>No Client available to display</h2>
        </div>
    </div>
    <app-pagination [pagination]="pagination" *ngIf="currentPage < totalPage" [limit]="limit" (paramsEvent)="onPaginationChange($event)"></app-pagination>
    <app-page-loader *ngIf="isLoading"></app-page-loader>
</div>