<div class="row">
    <div class="col-lg col-md col-sm">
        <a class="close" mat-dialog-title (click)="closeDialog()">X</a>
        <h2 class="border-bottom p-2 text-center text-white bg-danger" mat-dialog-title>
            {{timesheetDialogData.matDialogTitle}}
        </h2>
        <form [formGroup]="timesheetForm" (ngSubmit)="onSubmit(timesheetForm)">
            <div class="fields-main-div">
                <div class="field-container form-group">
                    <mat-form-field appearance="legacy">
                        <input matInput type="date" class="form-control rounded-0" formControlName="date"
                            placeholder="Date">
                    </mat-form-field>
                </div>
                <div class="field-container form-group">
                    <mat-form-field appearance="legacy">
                        <input matInput type="datetime-local" class="form-control rounded-0" formControlName="in_time"
                            placeholder="In Time">
                    </mat-form-field>
                </div>
                <div class="field-container form-group">
                    <mat-form-field appearance="legacy">
                        <input matInput type="datetime-local" class="form-control rounded-0" formControlName="out_time"
                            placeholder="Out Time">
                    </mat-form-field>
                </div>
            </div>
        </form>

        <div class="taskList-table-wrapper">
            <div class="d-flex justify-content-between bg-dark align-items-center p-3">
                <div>
                    <h4 class="text-white m-0">Tasks</h4>
                </div>
                <div>
                    <button mat-raised-button color="accent" (click)="showAddTaskForm()">
                        <mat-icon>add</mat-icon>
                        Add New Task
                    </button>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Client</th>
                            <th>Project Name</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let task of taskList">
                           
                            <td >{{task.client}}</td>   
                            <!-- <ng-template #defaultClient>
                            </ng-template>                          -->
                            <!-- <td *ngIf="timesheetDialogData.mode == 'all-edit'; else defaultClient">
                                {{task.client.company_name}}
                            </td>                             -->
                            <td>{{task.project_name}}</td>
                            <td>{{task.start_time}}</td>
                            <td>{{task.end_time}}</td>
                            <td>
                                <button mat-mini-fab (click)="editTask(task._id)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-mini-fab (click)="deleteTask(task._id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>

        <form [formGroup]="taskForm" (ngSubmit)="addTask(taskForm)" class="d-none" id="addTaskForm">
            <div class="fields-main-div">
                <input matInput type="hidden" formControlName="_id">
                <div class="field-container form-group" id="client-wrapper">
                    <mat-form-field appearance="fill">
                        <mat-label>Client</mat-label>
                        <mat-select formControlName="client" [(value)]="selectedClient">
                            <mat-option *ngFor="let client of clientList" value="{{client._id}}">
                                {{client.client_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="field-container form-group">
                    <mat-form-field appearance="legacy">
                        <input matInput type="text" class="form-control rounded-0" formControlName="project_name"
                            placeholder="Project Name">
                    </mat-form-field>
                </div>                
            </div>
            <div class="fields-main-div">
                <div class="field-container form-group">
                    <mat-form-field appearance="legacy">
                        <input matInput type="datetime-local" class="form-control rounded-0"
                            formControlName="start_time" placeholder="Start Time">
                    </mat-form-field>
                </div>
                <div class="field-container form-group">
                    <mat-form-field appearance="legacy">
                        <input matInput type="datetime-local" class="form-control rounded-0" formControlName="end_time"
                            placeholder="End Time">
                    </mat-form-field>
                </div>               
            </div>
            <div class="fields-main-div">
                <div class="field-container form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description" placeholder="Description"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <button type="submit" mat-raised-button color="primary">{{taskButton}}</button>
        </form>
        <button class="w-100" type="submit" mat-raised-button color="warn" (click)="submitTimesheetForm()">
            Submit
        </button>
    </div>
</div>