<div class="container">
    <div class="page-operations mb-2">
        <div class="form-inline m-0"></div>
        <button id="add-more-btn" mat-mini-fab color="primary" (click)="addAdminDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered bg-white">
            <thead>
                <tr>
                    <th scope="col" class="font-weight-bold">#</th>
                    <th scope="col" class="font-weight-bold">Employee Id</th>
                    <th scope="col" class="font-weight-bold">Admin Name</th>
                    <th scope="col" class="font-weight-bold">Email Id</th>
                    <th scope="col" class="font-weight-bold">Mobile Number</th>
                    <th scope="col" class="font-weight-bold">Actions</th>
                </tr>
            </thead>
            <tbody *ngFor="let admin of adminList; let i = index">
                <tr>
                    <th scope="row">{{pagination.current_page ? (pagination.current_page - 1) * limit + i + 1 : i + 1}}</th>
                    <td>
                        <a>
                            {{admin.emp_id}}
                        </a>
                    </td>
                    <td>{{admin.name}}</td>
                    <td>{{admin.email_id}}</td>
                    <td>{{admin.phone_num}}</td>
                    <td>
                        <button class="mr-3" mat-raised-button color="primary" (click)="updateAdminDialog(admin)">
                            <mat-icon>edit</mat-icon>
                            Edit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center" *ngIf="!adminList.length && !isLoading">
            <h2>No admin available to display</h2>
        </div>
    </div>   
    <app-pagination [pagination]="pagination" *ngIf="currentPage < totalPage" [limit]="limit" (paramsEvent)="onPaginationChange($event)"></app-pagination>
    <app-page-loader *ngIf="isLoading"></app-page-loader>

</div>