<div class="container">
    <div class="alert alert-{{alertType}} alert-dismissible fade show" role="alert" *ngIf="alertMessage">
        <strong>{{alertMessage}}</strong>
        <button type="button" class="close" aria-label="Close" (click)="successMessage = null">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="page-operations">
        <form class="form-inline m-0" #f="ngForm" (ngSubmit)="onSearch()">
            <mat-form-field>
                <input matInput placeholder="Search" [(ngModel)]="searchText" name="searchText">
            </mat-form-field>
            <button type="submit" mat-mini-fab color="primary">
                <mat-icon>search</mat-icon>
            </button>
        </form>
        <button id="add-more-btn" mat-mini-fab color="primary" (click)="addAdminDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered bg-white">
            <thead>
                <tr>
                    <th scope="col" class="font-weight-bold">#</th>
                    <th scope="col" class="font-weight-bold">Employee Id</th>
                    <th scope="col" class="font-weight-bold">Admin Name</th>
                    <th scope="col" class="font-weight-bold">Email Id</th>
                    <th scope="col" class="font-weight-bold">Mobile Number</th>
                    <th scope="col" class="font-weight-bold">Actions</th>
                </tr>
            </thead>
            <tbody *ngFor="let admin of adminList; let i = index">
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <td>
                        <a>
                            {{admin.emp_id}}
                        </a>
                    </td>
                    <td>{{admin.name}}</td>
                    <td>{{admin.email_id}}</td>
                    <td>{{admin.phone_num}}</td>
                    <td>
                        <button class="mr-3" mat-raised-button color="primary" (click)="updateAdminDialog(admin)">
                            <mat-icon>edit</mat-icon>
                            Edit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>