.container {
    margin-top: 100px;
}
.page-operations {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#spinner-div {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.working-date {
    font-weight: bold;
}

.client-name {
    font-weight: bold;
    color: #3f51b5;
}

.project-name {
    font-weight: bold;
    color: #4caf50;
}

.task-details {
    color: black;
    max-height: 170px;
    overflow-y: auto;
    padding-bottom: 0.5rem;
    font-family: 'Roboto';
}
.client-project:not(:last-child){
    border-bottom: 1px solid #dee2e6;
}