<div class="container">
    <div class="page-operations mb-3" *ngIf="(timesheetList.length || !isLoading)">
        <div class="form-inline flex m-0">
            <div class="col-sm-12 col-md-4" *ngIf="isAdmin">
                <mat-form-field appearance="fill">
                    <mat-label>Employee</mat-label>
                    <mat-select [(value)]="userID" (selectionChange)="selectEmployee($event)">
                        <mat-option *ngFor="let employee of employeeList" value="{{employee._id}}">
                            {{employee.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-4">
                <mat-form-field appearance="legacy">
                    <input matInput type="date" class="form-control rounded-0" [(ngModel)]="filterStartDate" (change)="refreshTimesheetList()" placeholder="Start Date">
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-4">
                <mat-form-field appearance="legacy">
                    <input matInput type="date" class="form-control rounded-0" [(ngModel)]="filterEndDate" (change)="refreshTimesheetList()" placeholder="End Date">
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-4" *ngIf="!isAdmin">
                <div class="col-sm-12" id="client-wrapper">
                    <mat-form-field appearance="fill">
                        <mat-label>Project</mat-label>
                        <mat-select (selectionChange)="selectProject($event)">
                            <mat-option *ngFor="let client of filterProjectList"  value="{{client._id}}" >
                                {{client.company_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="flex">
            <div class="mr-3">
                <mat-button-toggle-group [value]="viewType">
                    <mat-button-toggle value="calendarView" (click)="viewType = 'calendarView'">
                        <i class="material-icons">date_range</i>
                    </mat-button-toggle>
                    <mat-button-toggle value="listView" (click)="viewType = 'listView'">
                        <i class="material-icons">format_align_left</i>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <button id="add-more-btn" mat-mini-fab color="primary" *ngIf="!isAdmin" (click)="addTimesheetDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <cdk-accordion class="example-accordion">
        <cdk-accordion-item
          *ngFor="let timesheet of timesheetList; let index = index;"
          #accordionItem="cdkAccordionItem"
          class="example-accordion-item"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index">
          <div class="d-flex justify-content-between working-date-wrapper px-2 py-2 align-items-center mt-3 bg-dark text-white">
            <div class="working-date-wrapper">
            <span class="working-date">
                {{timesheet.date | date }} 
                <ng-container *ngIf="timesheet.status === 'Present'">
                    ({{timesheet.in_time | date:'shortTime'}} - {{timesheet.out_time | date:'shortTime'}})
                </ng-container>
            </span>
            <span *ngIf="(timesheet.edit_status === EditStatus.New || timesheet.edit_status === EditStatus.Accepted) && !isAdmin &&!clientid" sty
            le="color: rgb(15, 137, 252); cursor: pointer;" class="ml-2" (click)="addSingleTasks(timesheet._id, timesheet)">
                Add Task
            </span>
            <!-- <span *ngIf="(timesheet.edit_status === EditStatus.New || timesheet.edit_status === EditStatus.Accepted) && !isAdmin"
            style="cursor: pointer;" class="ml-2 text-warning" (click)="allEditTimesheetDialog(timesheet._id, timesheet)">
                Edit All Task
            </span> -->
            <span *ngIf="(timesheet.edit_status === EditStatus.Edited || timesheet.edit_status === EditStatus.Rejected || timesheet.edit_status === EditStatus.Initial) && !isAdmin" style="cursor: pointer;" class="ml-2 text-warning" (click)="editRequestDialog(timesheet._id, timesheet)"> 
                Request for Edit
            </span>
            <span *ngIf="timesheet.edit_status === EditStatus.Requested && !isAdmin" class="ml-2 text-success">
                Already Requested
            </span>            
            </div>
        
          <div class="" (click)="accordionItem.toggle()">
            <span class="example-accordion-item-description">
              <mat-icon *ngIf="!accordionItem.expanded" (click)="toggleAccordion()">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="accordionItem.expanded" (click)="toggleAccordion()">keyboard_arrow_up</mat-icon> 
            </span>
          </div>
        </div>
          <div
            class="example-accordion-item-body border p-2"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index">
            <ng-container *ngIf="timesheet.status === 'Present'">
                <div class="client-project ml-2 my-1" *ngFor="let task of timesheet.task_details">
                    <span class="client-name">
                        {{task.client?.company_name}}
                        ({{task.start_time| date:'shortTime'}} - {{task.end_time|
                        date:'shortTime'}})
                    </span>
                    <span *ngIf="(timesheet.edit_status === EditStatus.New || timesheet.edit_status === EditStatus.Accepted) && !isAdmin">
                        <span style="color: rgb(15, 137, 252); cursor: pointer;" class="mr-2"
                            (click)="updateSingleTaskDialog(timesheet, task._id)">Edit</span>
                        <span style="cursor: pointer;" class="text-danger"
                            (click)="deleteTimesheetDialog(timesheet._id, task._id)">Delete</span>
                    </span>
                    <div class="project ml-3">
                        <p class="mb-0 ml-3 task-details">
                            {{task.description}}
                        </p>
                    </div>
                </div>
            </ng-container>
            <div class="client-project ml-2 my-1" *ngIf="timesheet.status !== 'Present'">
                <span class="text-danger">{{timesheet.status}}</span>
            </div>
          </div>
        </cdk-accordion-item>
      </cdk-accordion>
   
    <div class="text-center my-3">
        <button mat-stroked-button class="btn btn-primary" color="primary" *ngIf="currentPage < totalPage" (click)="loadMore() && !isLoading">Load More</button>
    </div>
</div>
<app-page-loader *ngIf="isLoading"></app-page-loader>