<div class="container">
    <div class="page-operations mb-3" *ngIf="(timesheetList.length || !isLoading)">
        <div class="form-inline flex m-0">
            <div class="col-sm-12" *ngIf="isAdmin" [ngClass]="viewType === 'listView' ? 'col-md-4' : 'col-md-6'">
                <mat-form-field appearance="fill">
                    <mat-label>Employee</mat-label>
                    <mat-select [(value)]="userID" (selectionChange)="selectEmployee($event)">
                        <mat-option *ngFor="let employee of employeeList" value="{{employee._id}}">
                            {{employee.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-12" [ngClass]="isAdmin ? 'col-md-3' : 'col-md-4'" *ngIf="viewType === 'listView'">
                <mat-form-field appearance="legacy">
                    <input matInput type="date" class="form-control rounded-0" [(ngModel)]="filterStartDate" (change)="refreshTimesheetList()" placeholder="Start Date">
                </mat-form-field>
            </div>
            <div class="col-sm-12" [ngClass]="isAdmin ? 'col-md-3' : 'col-md-4'" *ngIf="viewType === 'listView'">
                <mat-form-field appearance="legacy">
                    <input matInput type="date" class="form-control rounded-0" [(ngModel)]="filterEndDate" (change)="refreshTimesheetList()" placeholder="End Date">
                </mat-form-field>
            </div>
            <div class="col-sm-12" [ngClass]="viewType === 'listView' ? (isAdmin ? 'col-md-2' : 'col-md-4') : (isAdmin ? 'col-md-6' : 'col-md-12')">
                <strong>Total Working Days: {{ totalWorkingDays }}</strong> 
            </div>
            <!-- <div class="col-sm-12 col-md-4">
                <div class="col-sm-12" id="client-wrapper">
                    <mat-form-field appearance="fill">
                        <mat-label>Project</mat-label>
                        <mat-select (selectionChange)="selectProject($event)">
                            <mat-option *ngFor="let client of filterProjectList"  value="{{client._id}}" >
                                {{client.client_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div> -->
        </div>
        <div class="flex">
            <div class="mr-3">
                <mat-button-toggle-group [value]="viewType">
                    <mat-button-toggle value="calendarView" (click)="setViewType('calendarView')">
                        <i class="material-icons">date_range</i>
                    </mat-button-toggle>
                    <mat-button-toggle value="listView" (click)="setViewType('listView')">
                        <i class="material-icons">format_align_left</i>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <button id="add-more-btn" mat-mini-fab color="primary" *ngIf="!isAdmin" (click)="addTimesheetDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div *ngIf="viewType === 'listView' && !isLoading">
        <cdk-accordion class="example-accordion">
            <cdk-accordion-item
            *ngFor="let timesheet of timesheetList; let index = index;"
            #accordionItem="cdkAccordionItem"
            class="example-accordion-item"
            role="button"
            tabindex="0"
            [attr.id]="'accordion-header-' + index"
            [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-' + index">
            <div  [ngClass]="getAccordionBGColor(timesheet.status)" class="d-flex justify-content-between working-date-wrapper px-2 py-2 align-items-center mt-3 text-white" style="cursor: auto;">
                <div class="working-date-wrapper" style="cursor: pointer;">
                    <span class="working-date" (click)="accordionItem.toggle()" style="cursor: pointer;">
                        {{timesheet.date | date }} 
                        <ng-container *ngIf="timesheet.status === 'Present' || timesheet.status === 'Half Day'">
                            (
                                {{timesheet.in_time | date:'shortTime'}} - {{timesheet.out_time | date:'shortTime'}}
                                {{timesheet.status === 'Half Day' ? ', Half Day' : ''}}
                            )
                        </ng-container>
                        <ng-container *ngIf="timesheet.status === 'Leave'">
                            ({{ timesheet.leaveData?.type ?  timesheet.leaveData?.type : timesheet.status }})
                        </ng-container>
                    </span>
                    <ng-container *ngIf="timesheet.status !== 'Leave' && !isAdmin">
                        <span *ngIf="(timesheet.edit_status === EditStatus.New || timesheet.edit_status === EditStatus.Accepted) &&!clientid" sty
                        le="color: rgb(15, 137, 252); cursor: pointer;" class="ml-2 text-dark font-weight-bold" (click)="addSingleTasks(timesheet._id, timesheet)">
                            Add Task
                        </span>
                        <span *ngIf="(timesheet.edit_status === EditStatus.New || timesheet.edit_status === EditStatus.Accepted)"
                        style="cursor: pointer;" class="ml-2 text-dark font-weight-bold" (click)="allEditTimesheetDialog(timesheet._id, timesheet)">
                            Edit All Task
                        </span>
                        <span *ngIf="(timesheet.edit_status === EditStatus.Edited || timesheet.edit_status === EditStatus.Rejected || timesheet.edit_status === EditStatus.Initial)" style="cursor: pointer;" class="ml-2 text-dark font-weight-bold" (click)="editRequestDialog(timesheet._id, timesheet)"> 
                            Request for Edit
                        </span>
                        <span *ngIf="timesheet.edit_status === EditStatus.Requested" class="ml-2 text-dark font-weight-bold">
                            Already Requested
                        </span>
                    </ng-container>
                </div>
            
                <div (click)="accordionItem.toggle()" style="cursor: pointer;">
                    <span class="example-accordion-item-description">
                    <mat-icon *ngIf="!accordionItem.expanded" (click)="toggleAccordion()">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="accordionItem.expanded" (click)="toggleAccordion()">keyboard_arrow_up</mat-icon> 
                    </span>
                </div>
            </div>
            <div
                class="example-accordion-item-body border p-2"
                role="region"
                style="cursor: auto;"
                [style.display]="accordionItem.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-' + index"
                [attr.aria-labelledby]="'accordion-header-' + index">
                <ng-container *ngIf="timesheet.status === 'Present' || timesheet.status === 'Half Day'">
                    <div class="client-project ml-2 my-1" *ngFor="let task of timesheet.task_details">
                        <span class="client-name">
                            {{task.client?.client_name}}
                            ({{task.start_time| date:'shortTime'}} - {{task.end_time|
                            date:'shortTime'}})
                        </span>
                        <span *ngIf="(timesheet.edit_status === EditStatus.New || timesheet.edit_status === EditStatus.Accepted) && !isAdmin">
                            <span style="color: rgb(15, 137, 252); cursor: pointer;" class="mr-2"
                                (click)="updateSingleTaskDialog(timesheet, task._id)">Edit</span>
                            <span style="cursor: pointer;" class="text-danger"
                                (click)="deleteTimesheetDialog(timesheet._id, task._id)">Delete</span>
                        </span>
                        <div class="project ml-3">
                            <p class="mb-0 ml-3 task-details">
                                {{task.description}}
                            </p>
                        </div>
                    </div>
                </ng-container>
                <div class="client-project ml-2 my-1" *ngIf="timesheet.status !== 'Present'">
                    <div class="text-danger" *ngIf="timesheet.status === 'Leave' || timesheet.status === 'Half Day'">
                        <div><strong>Reason: </strong><span [innerHTML]="timesheet.leaveData?.reason"></span>{{timesheet.leaveData?.reason}}</div>
                        <div *ngIf="timesheet.leaveData?.remarks"><strong>Remarks: </strong>{{timesheet.leaveData?.remarks}}</div>
                    </div>
                    <span class="text-danger" *ngIf="timesheet.status !== 'Leave' && timesheet.status !== 'Half Day'">{{timesheet.status}}</span>
                </div>
            </div>
            </cdk-accordion-item>
        </cdk-accordion>

        <div class="text-center my-3" *ngIf="!timesheetList.length">No timesheet available!</div>
    
        <div class="text-center my-3">
            <button mat-raised-button color="warn" *ngIf="currentPage < totalPage" (click)="loadMore() && !isLoading">Load More</button>
        </div>
    </div>
    <div *ngIf="viewType === 'calendarView' && !isLoading">
       <app-calendar-view [timesheetList]="timesheetList" (onDateRangePicked)="calenderDateRange($event)"></app-calendar-view>
    </div>
</div>
<app-page-loader *ngIf="isLoading"></app-page-loader>