<div id="spinner-div" fxLayout="row" fxLayoutAlign="space-around center" style="height:100%" *ngIf="isLoading">
    <mat-spinner mode="indeterminate" diameter="50" strokeWidth="5" color="warn"></mat-spinner>
</div>
<div class="container" *ngIf="!timesheetList && !isLoading">
    <div>
        <h1>No Timesheet Found</h1>
    </div>
</div>
<div class="container" *ngIf="!isLoading">
    <div class="page-operations" *ngIf="isAdmin == 'false'">
        <form class="form-inline m-0" #f="ngForm" (ngSubmit)="onSearch()">
            <!-- <mat-form-field>
                <input matInput placeholder="Search" [(ngModel)]="searchText" name="searchText">
            </mat-form-field>
            <button type="submit" mat-mini-fab color="primary">
                <mat-icon>search</mat-icon>
            </button> -->
        </form>
        <button id="add-more-btn" mat-mini-fab color="primary" (click)="addTimesheetDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="timesheet-wrapper bg-white p-3 mb-3" *ngFor="let timesheet of timesheetList">
        <div class="working-date-wrapper p-1 bg-dark text-white">
            <span class="working-date">
                {{timesheet.date | date }} -
                ( {{timesheet.in_time | date:'shortTime'}} - {{timesheet.out_time |
                date:'shortTime'}} )
            </span>
            <span *ngIf="((timesheet.date | date) == (todayDate | date)) && isAdmin == 'false'"
                style="color: rgb(15, 137, 252); cursor: pointer;" class="ml-2" (click)="addTasksDialog(timesheet)">Add
                Task</span>
        </div>
        <div class="client-project ml-5 mt-1 border-bottom" *ngFor="let task of timesheet.task_details">
            <span class="client-name">
                - {{task.client?.company_name}}
                ( {{task.start_time| date:'shortTime'}} - {{task.end_time|
                date:'shortTime'}} )
            </span>
            <span *ngIf="((timesheet.date | date) == (todayDate | date)) && isAdmin == 'false'">
                <span style="color: rgb(15, 137, 252); cursor: pointer;" class="mr-2"
                    (click)="updateTimesheetDialog(timesheet, task._id)">Edit</span>
                <span style="color: rgb(15, 137, 252); cursor: pointer;"
                    (click)="deleteTimesheetDialog(task._id)">Delete</span>
            </span>
            <div class="project ml-5">
                <p class="mb-0 project-name">- {{task.project_name}}</p>
                <p class="mb-0 ml-5 task-details">
                    - {{task.description}}
                </p>
            </div>
        </div>
    </div>
</div>