.container {
    margin-top: 100px;
}
.page-operations {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#spinner-div {
    display: flex;
    justify-content: center;
    margin-top: 30vh;
}
.working-date {
    font-weight: bold;
}

.client-name {
    font-weight: bold;
    color: #3f51b5;
}

.project-name {
    font-weight: bold;
    color: #4caf50;
}

.task-details {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}