<div class="logo">
    <a routerLink="/" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/wis_logo.png" alt="wis logo"/>
        </div>
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav mb-5">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link anchor-{{menuItem.class}}"
                *ngIf="menuItem.title !== 'Logout' && menuItem.class !== 'ignore'" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>