<div class="container mt-5 pt-5">
    <div class="table-responsive">
        <table class="table table-bordered bg-white">
            <thead>
                <tr>
                    <th scope="col" class="font-weight-bold">#</th>
                    <th scope="col" class="font-weight-bold">Name</th>
                    <th scope="col" class="font-weight-bold">Employee Id</th>
                    <th scope="col" class="font-weight-bold">Email Id</th>
                    <th scope="col" class="font-weight-bold w-25">Reason</th>
                    <th scope="col" class="font-weight-bold">Request Date</th>
                    <th scope="col" class="font-weight-bold">Actions</th>
                </tr>
            </thead>
            <tbody *ngFor="let reqList of allEditReqList; let i = index">
                <tr>
                    <th scope="row">{{pagination.current_page ? (pagination.current_page - 1) * limit + i + 1 : i + 1}}</th>
                    <td>{{reqList.created_by.name}}</td>
                    <td>{{reqList.created_by.emp_id}}</td>
                    <td>{{reqList.created_by.email_id}}</td>
                    <td>
                        <div class="request-details">
                            <div *ngFor="let reason of reqList.edit_reason; let i = index" >
                                {{i+1}}. {{reason.name}} ({{reason.date | date: 'dd-MM-yyyy hh:mm a'}})
                            </div>
                        </div>
                    </td>
                    <td>{{reqList.date | date: 'dd/MM/YYYY'}}</td>
                    <td>
                        <div *ngIf="reqList.edit_status == EditStatus.Requested">
                            <button class="mr-2" mat-raised-button color="primary" (click)="approveDialog(reqList._id)">
                                Approve
                            </button>
                            <button mat-raised-button color="warn" (click)="rejectDialog(reqList._id)">                           
                                Reject
                            </button>
                        </div> 
                        <p *ngIf="reqList.edit_status == EditStatus.Rejected">{{ EditStatus.Rejected }}</p>                       
                        <p *ngIf="reqList.edit_status == EditStatus.Accepted">{{ EditStatus.Accepted }}</p>                       
                        <p *ngIf="reqList.edit_status == EditStatus.Edited">{{ EditStatus.Edited }}</p>                       
                    </td>
                </tr>
            </tbody> 
        </table>
    </div>
    <app-pagination [pagination]="pagination" [limit]="limit" (paramsEvent)="onPaginationChange($event)"></app-pagination>
</div>