.request-details{
    font-size: 12px;
    max-height: 150px;
    overflow-y: auto;
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: thin;
}
/* width */
.request-details::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
.request-details::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
.request-details::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
.request-details::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }